<header class="head">
    <h2>Training Registration Form</h2></header>
<div class="bg">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="form">
          <mat-card>
            <mat-card class="card">
              <mat-card-content>
                <form
                  class="regForm"
                  [formGroup]="regForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="row form-container">
                    <div class="col-4 text">
                      <label
                        ><span class="required">*</span> Company Name :</label
                      >
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input
                          matInput
                          #input
                          formControlName="companyName"
                          required
                        />
                        <mat-error
                        *ngIf="isInvalid('companyName') && regForm.controls['companyName'].touched">
                        Company name is required
                     </mat-error
                    >
                        
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label for=""
                        ><span class="required">*</span> First Name :</label
                      >
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input matInput #input formControlName="firstName" />
                        <mat-error *ngIf="isInvalid('firstName') && regForm.controls['firstName'].touched">
                            First name is required   
                      </mat-error>
                      </mat-form-field> 
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label><span class="required">*</span> Last Name :</label>
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input matInput #input formControlName="lastName" />
                         <mat-error
                      *ngIf="isInvalid('lastName') && regForm.controls['lastName'].touched"
                      >Last name is required</mat-error
                    >
                      </mat-form-field>
                     
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label
                        ><span class="required">*</span> Email Address :</label
                      >
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input matInput formControlName="email" />
                        <mat-error *ngIf="isInvalid('email') && regForm.controls['email'].touched">
                            {{
                                regForm.controls['email'].errors?.['required']
                                  ? 'Email is required'
                                  : 'Enter a valid email'
                              }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label> <span class="required">*</span> Title :</label>
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input
                          matInput
                          #input
                          maxlength="30"
                          minlength="5"
                          formControlName="title"
                        />
                        <mat-error
                      *ngIf="isInvalid('title') && regForm.controls['title'].touched"
                      >Title is required</mat-error
                    >

                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label> <span class="required">*</span> Phone :</label>
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input matInput #input formControlName="phone" />
                        <mat-error
                      *ngIf="isInvalid('phone') && regForm.controls['phone'].touched"
                      >Phone number is required</mat-error
                    >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-5">
                      <section class="cancel-section">
                        <label class="label-text text">Cancel Registration :</label>
                        <mat-checkbox  formControlName="cancelRegistration"></mat-checkbox>
                      </section>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label
                        ><span class="required">*</span> Training Session
                        :</label
                      >
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <mat-select formControlName="trainingDate">
                          <mat-option
                            *ngFor="let date of trainingDate"
                            [value]="date.value"
                            >{{ date.viewValue }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                      *ngIf="isInvalid('trainingDate') && regForm.controls['trainingDate'].touched"
                      >Training date is required</mat-error
                    >
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text job">
                      <label id="example-radio-group-label"
                        ><span class="required">*</span> Job Function :</label
                      >
                    </div>
                    <div class="col-4">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        formControlName="jobFunction"
                        class="example-radio-group"
                        [(ngModel)]="jobFunction"
                      >
                        @for (function of jobFunctions; track function) {
                        <mat-radio-button
                          class="example-radio-button"
                          [value]="function"
                          >{{ function }}</mat-radio-button
                        >
                        }
                        <mat-error
                        *ngIf="isInvalid('jobFunction') && regForm.controls['jobFunction'].touched"
                        >Job function is required</mat-error
                      >
                      </mat-radio-group>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label class="d-label">Dietary Requirements:</label>
                    </div>
                    <div class="col-4">
                      <mat-form-field>
                        <input
                          matInput
                          #input
                          maxlength="30"
                          minlength="5"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row form-container">
                    <div class="col-4 text">
                      <label for="">Excepectations? :</label>
                    </div>
                    <div class="col-4">
                      <mat-form-field class="example-full-width">
                        <textarea
                          matInput
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row form-container">
                  <div class="col-12 btn-c">
                  <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>
                </div>
                </form>
              </mat-card-content>
            </mat-card>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="foot" >
    <p>Register Form</p>
    <p>Copyright 1999-2024 by SFW Data. All Rights Reserved. Register Form is Powered by SFW</p>
</footer>
